@page "/register"
@using Microsoft.AspNetCore.WebUtilities
@inject HttpClient httpClient
@inject NavigationManager Navigation

<body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<div class="login-div">
		<div class="login-creds-box">
			<div class="login-label">Создайте новый аккаунт!</div>
			<div class="credential-label">Адрес электронной почты</div>
			<input class="form-control" style="@(hasFailedAttempt ? "border: 2px solid red" : "")" type="email" placeholder="Введите электронную почту" @bind=registerDTO.Email />
			<div class="credential-label">Пароль</div>
			<input class="form-control" style="@(hasFailedAttempt ? "border: 2px solid red" : "")" type="password" placeholder="Введите ваш пароль" @bind=registerDTO.Password />
			<button class="login-button" @onclick=SendLoginRequest disabled="@(isWaitingForAwnser)">
				<i style="visibility: @(isWaitingForAwnser ? "visible" : "collapse")" class="fa fa-spinner fa-spin"></i>Зарегистрироваться
			</button>
			<div style="visibility: @(hasFailedAttempt ? "visible" : "collapse")" class="failed-login-info">Удостовертесь что введенные вами данные верны и попробуйте снова</div>
		</div>
	</div>
</body>

@code {
	struct UserRegisterDTO
	{
		public string Email { get; set; }
		public string Password { get; set; }
	}

	bool hasFailedAttempt = false;
	bool isWaitingForAwnser = false;

	UserRegisterDTO registerDTO = new();

	public async Task SendLoginRequest()
	{
		string registerEndPoint = "https://localhost:7247/api/Users/Register";

		isWaitingForAwnser = true;
		HttpResponseMessage responseMessage = await httpClient.PostAsJsonAsync(registerEndPoint, registerDTO);

		if(responseMessage.IsSuccessStatusCode)
		{
			Navigation.NavigateTo("login");
		}
		else if(responseMessage.StatusCode == System.Net.HttpStatusCode.BadRequest)
		{
			hasFailedAttempt = true;
			isWaitingForAwnser = false;
		}
	}
}
